<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppNexus.Endpoint" value="$(AppNexusEndpoint)"/>
    <add key="AppNexus.Username" value="$(AppNexusUsername)"/>
    <add key="AppNexus.Password" value="$(AppNexusPassword)"/>
    <add key="AppNexus.Timeout" value="00:00:10"/>
    <add key="AppNexus.Retries" value="5"/>
    <add key="AppNexus.RetryWait" value="00:00:00.500"/>
    <add key="AppNexus.Sandbox" value="true"/>
    <add key="AppNexus.IsApp" value="false"/>
    <add key="AppNexus.App.AppId" value="5"/>
    <add key="AppNexus.App.UserId" value="5"/>
    <add key="AppNexus.App.PrivateKey" value="MIIBpjBABgkqhkiG9w0BBQ0wMzAbBgkqhkiG9w0BBQwwDgQI45MdQLaQuBACAggAMBQGCCqGSIb3DQMHBAjvFU2nzngc5gSCAWASmAhrhpmtTxhiIv6d5D10+JCpqkQvk+MsM6YHX2jx3JOwGbbdynO2OjUYExqKBpecCNHR89UGuPascWw6t6SRBO7hq2wpCIH9jQCYbNhmHc1/UZb7xKjUHeunByFf/ZkUgc9BNpeWzGO8DktfQ8HTmR29DQkkLukLLwEDvr7cF1f74s7V1HyUHfdb0VD03C0amvlU61vPVwpwIb2uq0lvE2Ul9atk5nLRJaGuShvweLX/5Tfh9UJb/5cwYfo5cgSsk0NI7MAWOSlOjAP6uxgAIb4SNUpqQcXOY0gT1XZUE8IT3f6kxNDlJdlaaAmXh6aolyumyEblOZwB7t3Zc5iveIX84XXEJV1DxYNXJZPDygsQzHZMHJRCG7hMYv6VeTWCjn4TAbmqQNecDCtRQj4QnpI6BUhGDqOHRg+ieq26Mp2rBK6XCNRcNHQ+dwHqJ8wAVsLSrRAvA3Rsz8B5/ga8"/>
    <add key="AppNexus.App.PrivatePassword" value="RCAPNXAPP!"/>
  </appSettings>
</configuration>