<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="TargetProfile" value="$(TargetProfile)"/>
    <add key="IndexLocal.ConnectionString" value="$(AzureSqlConnectionString)"/>
    <add key="EntityLocal.ConnectionString" value="$(AzureConnectionString)"/>
    <!--Replace the following read-only connection strings with an appropriate source.
        Leaving them local won't hurt anything but the dry run will reflect the state of the 
        local campaign.-->
    <add key="IndexReadOnly.ConnectionString" value="$(ReadOnlyIndexConnectionString)"/>
    <add key="EntityReadOnly.ConnectionString" value="$(ReadOnlyEntityConnectionString)"/>
  </appSettings>
</configuration>
