<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureEmulatorExe" value="C:\Program Files\Microsoft SDKs\Windows Azure\Emulator\csrun.exe"/>
    <add key="Index.ConnectionString" value="$(AzureSqlConnectionString)"/>
    <add key="Entity.ConnectionString" value="$(AzureConnectionString)"/>
    <add key="ACS.Issuer" value="https://$(HostedServiceName).accesscontrol.windows.net/"/>
    <add key="Queue.ConnectionString" value="$(AzureConnectionString)"/>
    <add key="Dictionary.Blob.ConnectionString" value="https://$(HostedServiceName).accesscontrol.windows.net/"/>
    <add key="Dictionary.Sql.ConnectionString" value="$(AzureSqlDictionaryConnectionString)"/>
    <add key="Logging.ConnectionString" value="$(AzureConnectionString)"/>
  </appSettings>
</configuration>
