<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureEmulatorExe" value="C:\Program Files\Microsoft SDKs\Windows Azure\Emulator\csrun.exe"/>
    <add key="Index.ConnectionString" value="$(AzureSqlConnectionString)"/>
    <add key="Entity.ConnectionString" value="$(AzureConnectionString)"/>
    <add key="Blob.ConnectionString" value="$(AzureConnectionString)"/>
    <!--add key="Index.ConnectionString" value="Data Source=<yourcloudsqlserver>.database.windows.net;Initial Catalog=IndexDatastore;Integrated Security=False;User ID=lucyAppUser@<yourcloudserver>;Password=<password>"/-->
    <!--add key="Entity.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=<accountname>;AccountKey=<secretkey>"/-->
    <!--add key="Blob.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=<accountname>;AccountKey=<secretkey>"/-->
  </appSettings>
</configuration>
