<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AzureEmulatorExe" value="C:\Program Files\Microsoft SDKs\Windows Azure\Emulator\csrun.exe" />
    <add key="Index.ConnectionString" value="$(AzureSqlConnectionString)"/>
    <add key="Entity.ConnectionString" value="$(AzureConnectionString)"/>
    <add key="Queue.ConnectionString" value="$(AzureConnectionString)"/>
    <add key="QueueProcessor.Categories" value="0"/>
    <add key="Dictionary.Sql.ConnectionString" value="$(AzureSqlDictionaryConnectionString)"/>
    <add key="Dictionary.Blob.ConnectionString" value="$(AzureConnectionString)"/>
    <add key="PaymentProcessor.ApiSecretKey" value="$(PaymentProcessorApiSecretKey)"/>
    <add key="PaymentProcessor.ApiPublicKey" value="$(PaymentProcessorApiPublicKey)"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>