<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="ConnectionString" value="$(AzureConnectionString)"/>
    <add key="HoursAgoThresholdForDeleting" value="48"/>
    <add key="LogContainers" value="workerlogs,weblogs"/>
  </appSettings>
</configuration>
