<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DfpApi"
         type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <appSettings>
    <add key="GoogleDfp.NetworkTimezone" value="Pacific Standard Time"/>
    <add key="GoogleDfp.ApplicationName" value="$(GoogleApplicationName)"/>
    <add key="GoogleDfp.NetworkId" value="$(GoogleDfpNetworkId)"/>
    <add key="GoogleDfp.Username" value="$(GoogleDfpUsername)"/>
    <add key="GoogleDfp.Password" value="$(GoogleDfpPassword)"/>
  </appSettings>
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="Google.Api.Ads.Common.Lib.SoapListenerExtension, Google.Ads.Common"
             priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>
  <system.net>
    <settings>
      <httpWebRequest maximumErrorResponseLength="-1"  />
    </settings>
  </system.net>
</configuration>
