<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureEmulatorExe" value="C:\Program Files\Microsoft SDKs\Windows Azure\Emulator\csrun.exe"/>
    <add key="AzureStorageInitExe" value="C:\Program Files\Microsoft SDKs\Windows Azure\Emulator\devstore\dsinit.exe"/>
    <add key="AzureStorageEmulatorSqlInstance" value="SQLEXPRESS"/>
    <add key="SqlDictionaryConnectionString" value="$(AzureSqlDictionaryConnectionString)"/>
    <add key="Mail.SmtpHost" value="$(MailSmtpHost)"/>
    <add key="Mail.Username" value="$(MailUsername)"/>
    <add key="Mail.Password" value="$(MailPassword)"/>
  </appSettings>
</configuration>