<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Index.ConnectionString" value=".\indexstorebackingfile.xml"/>
    <add key="Entity.ConnectionString" value=".\entitystorebackingfile.xml"/>
    <add key="Testing.HttpHeaderClaimOverrides" value="false"/>
    <add key="AppNexus.IsApp" value="false"/>
  </appSettings>
</configuration>
