<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureEmulatorExe" value="C:\Program Files\Microsoft SDKs\Windows Azure\Emulator\csrun.exe"/>
    <add key="CsxPath" value="$(SolutionDir)..\Azure\Azure\csx\$(Configuration)"/>
    <add key="CscfgPath" value="$(SolutionDir)..\Azure\Azure\bin\$(Configuration)\app.publish\ServiceConfiguration.$(TargetProfile).cscfg"/>
    <add key="TestUserNamedIdentifier" value="$(DefaultUserId)"/>
  </appSettings>
</configuration>