<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureEmulatorExe" value="C:\Program Files\Microsoft SDKs\Windows Azure\Emulator\csrun.exe"/>
    <add key="Queue.ConnectionString" value="UseDevelopmentStorage=true"/>
    <add key="Dictionary.Blob.ConnectionString" value="UseDevelopmentStorage=true"/>
    <add key="Dictionary.Sql.ConnectionString" value="$(AzureSqlDictionaryConnectionString)"/>
    <add key="Logging.ConnectionString" value="UseDevelopmentStorage=true"/>
  </appSettings>
</configuration>