<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureEmulatorExe" value="C:\Program Files\Microsoft SDKs\Windows Azure\Emulator\csrun.exe"/>
    <add key="IndexLocal.ConnectionString" value="$(AzureSqlConnectionString)"/>
    <add key="EntityLocal.ConnectionString" value="$(AzureConnectionString)"/>
    <!--Replace the following read-only connection strings with an appropriate source.
        Leaving them local won't hurt anything but the dry run will reflect the state of the 
        local campaign.-->
    <add key="IndexReadOnly.ConnectionString" value="$(ReadOnlyIndexConnectionString)"/>
    <add key="EntityReadOnly.ConnectionString" value="$(ReadOnlyEntityConnectionString)"/>
    </appSettings>
</configuration>
