html, body 
{
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}
body 
{
    background: #ffffff;
    height: 100%;
    font:12pt Tahoma;
}
body.window 
{
    height: 100%;
    background: #ffffff;
    font:12pt Tahoma;
}
.highlight 
{
    background:#880000;
}
.general
{
        font:14pt;
        padding-bottom:10px;
}
.generalIndent
{
    font:14pt;
    margin-left:125px;
    padding-bottom:5px;
}
.deliveryGradient
{
    background-image: -ms-linear-gradient(left, #FFFF00 0%, #00FF00 100%);
    background-image: -moz-linear-gradient(left, #FFFF00 0%, #00FF00 100%);
    background-image: -o-linear-gradient(left, #FFFF00 0%, #00FF00 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FFFF00), color-stop(1, #00FF00));
    background-image: -webkit-linear-gradient(left, #FFFF00 0%, #00FF00 100%);
    background-image: linear-gradient(to right, #FFFF00 0%, #00FF00 100%);
}
.deliveredGradient
{
    background-image: -ms-linear-gradient(left, #616161 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(left, #616161 0%, #FFFFFF 100%);
    background-image: -o-linear-gradient(left, #616161 0%, #FFFFFF 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #616161), color-stop(1, #FFFFFF));
    background-image: -webkit-linear-gradient(left, #616161 0%, #FFFFFF 100%);
    background-image: linear-gradient(to right, #616161 0%, #FFFFFF 100%);
}