<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ACS.RelyingPartyRealm" value="https://localhost/"/>
    <add key="ACS.Issuer" value="https://traffiqemu.accesscontrol.windows.net/"/>
    <add key="ACS.RelyingPartySecurityKey" value="3kxJBpK68iwTDyVtFMtodPN/Bd1jd2AcghCFEaa0kf0="/>
    <add key="ACS.AudienceUri" value="https://localhost/"/>
    <add key="ACS.AcsHostUrl" value="accesscontrol.windows.net"/>
    <add key="ACS.ServiceNamespace" value="traffiqemu"/>
    <add key="ACS.SymmetricSignatureKey" value="3kxJBpK68iwTDyVtFMtodPN/Bd1jd2AcghCFEaa0kf0="/>
    <add key="ACS.TokenDurationMinutes" value="2"/>
    <add key="WL.LogoffUrl" value="http://someplace/somelogoffpage.html"/>
  </appSettings>
</configuration>
