<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="Index.ConnectionString" value="$(AzureSqlConnectionString)"/>
    <add key="Entity.ConnectionString" value="$(AzureConnectionString)"/>
    <add key="Queue.ConnectionString" value="UseDevelopmentStorage=true"/>
    <add key="QueueProcessor.Categories" value="0"/>
    <add key="Dictionary.Sql.ConnectionString" value="$(AzureSqlDictionaryConnectionString)"/>
    <add key="Dictionary.Blob.ConnectionString" value="$(AzureConnectionString)"/>
    <add key="AppNexus.IsApp" value="false"/>
  </appSettings>
</configuration>
