<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppNexus.Endpoint" value="$(AppNexusEndpoint)"/>
    <add key="AppNexus.Username" value="$(AppNexusUsername)"/>
    <add key="AppNexus.Password" value="$(AppNexusPassword)"/>
    <add key="AppNexus.Timeout" value="00:00:10"/>
    <add key="AppNexus.Retries" value="5"/>
    <add key="AppNexus.RetryWait" value="00:00:00.500"/>
    <add key="AppNexus.IsApp" value="false"/>
  </appSettings>
</configuration>