<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
    <!-- Specify the website URL used during test script execution -->
    <add key="WebsiteUrl" value="https://traffiqdev.cloudapp.net/" />

    <!-- Specify the Input Data File used during test script execution -->
		<add key="DataFile" value="WebLayerTestData.xlsx" />

    <!-- Specify the Input Data File used during test script execution -->
		<add key="UIControlsMappingFile" value="UIControlsMappingFile.xlsx" />
		
		<!-- Specify the Constant Sheet name for testing browser, home url etc. -->
		<add key="ConstantsSheetName" value="Constants" />
		
		<!-- Specify the Wait Time in milliseconds -->
		<add key="WaitTime" value="30000" />
		
		<!-- Specify the Implicit Wait Time in Seconds -->
		<add key="ImplicitWaitTime" value="15" />
		
		<!-- Specify the Retry Count to check the response -->
		<add key="RetryCount" value="2" />
		
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>